---
title: Home
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title
      {{ page.title }} - {{ site.name }}
      | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}
    %meta{content: "{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}", name: "description"}/
    %meta{content: "{{ site.meta_keywords }} {{ page.meta_keywords }}", name: "keywords"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %body
    %p
      {{ 'bootstrap.css' | stylesheet_tag }}
      /[if lt IE 9]
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    .container
      / Site Title
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          %h1 {{ site.name }}
      / Site Navigation
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          %nav.navbar.navbar-default{role: "navigation"}
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            / Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li{endif: "", if: "", "page.slug" => "="}
                  %a{href: "/"} Home
                {% nav 'site', no_wrapper: true, active_class: "active" %}
      / Page Content
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          %h2 {{ page.title }}
          {% block main %}
          Coming Soon.
          {% endblock %}
    / Javascripts
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type: "text/javascript"}
    {{ 'bootstrap.min.js' | javascript_tag }}